.appContainer {
  width: 90%;
  margin: 2% auto;
}

.mainPageHeading {
  display: flex;
  justify-content: space-between;
}

.addPostFormContainer {
  width: 40%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.selectInput {
  margin-top: 25px;
}
