.mainContainer {
  text-align: center;
}

.appContainer {
  width: 90%;
  margin: 2% auto;
}

.mainPageHeading {
  display: flex;
  justify-content: space-between;
}

.postDescription {
  padding: 10px 0;
}

.contactInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.contactInfo a {
  text-decoration: none;
  color: black;
  background-color: #96ceb4;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

a:hover {
  cursor: pointer;
  color: white;
}
