.mainContainer {
  text-align: center;
}

.appContainer {
  width: 90%;
  margin: 2% auto;
}

.mainPageHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postTypeSelect {
  width: 250px;
}

.mainPageFilters {
  display: flex;
  flex-direction: column;
}
