.mainContainer {
  text-align: center;
}

.appContainer {
  width: 90%;
  margin: 2% auto;
}

.mainPageHeading {
  display: flex;
  justify-content: space-between;
}

.postTypeSelect {
  width: 250px;
}
