.singlePost {
  margin: 10px 0;
  padding: 15px;
  color: black;
}

.singlePost:hover {
  opacity: 0.7;
  cursor: pointer;
}

.need {
  background-color: #ffb9b7;
  border-left: 5px solid #faf3d4;
}

.give {
  background-color: #faf3d4;
  border-left: 5px solid #ffb9b7;
}

.postHeading {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.postHeading__heading {
  font-weight: bold;
  flex: 1;
  text-align: center;
}

.postHeading__privince {
  flex: 1;
  text-align: right;
}

.postDescription {
  text-align: left;
  font-size: 1.05rem;
}

.postAddedBy {
  text-align: right;
  font-size: 0.85rem;
}

.emptyDiv {
  flex: 1;
}

@media (max-width: 768px) {
  .emptyDiv {
    display: none;
  }
}

@media (max-width: 500px) {
  .singlePost {
    margin: 5px 0;
    padding: 5px;
  }

  .emptyDiv {
    display: none;
  }

  .postHeading {
    font-size: 1rem;
    padding-bottom: 5px;
  }

  .postDescription {
    font-size: 0.85rem;
  }

  .postAddedBy {
    text-align: right;
    font-size: 0.85rem;
  }
}
