.eventsHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventsHeading__button {
  background: #d6f3fa;
  padding: 10px 30px;
  cursor: pointer;
}

.reactRouterLinkEvents:hover {
  opacity: 0.8;
  color: black;
}

.reactRouterLinkEvents {
  margin: 20px 0;
  text-decoration: none;
  color: black;
}

.addAndFilterEvents {
  display: flex;
  flex-direction: column;
}

@media (max-width: 500px) {
  .allEventsHeading {
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }

  .addAndFilterEvents .eventsHeading__button {
    padding: 10px 40px;
  }

  .eventTypeSelect {
    margin: 0 auto !important;
  }
}
