* {
  font-family: 'Lato', sans-serif;
}

.version {
  position: fixed;
  padding: 0;
  margin: 0;
  bottom: 5px;
  right: 5px;
  font-size: 0.7rem;
}

.mainContainer header {
  background-color: #96ceb4;
}

.reactRouterLink {
  text-decoration: none;
  border: 0;
  color: white;
}

.mainContainer {
  text-align: center;
}

.appContainer {
  width: 90%;
  margin: 2% auto;
}

.paperPostContainer {
  position: relative;
}

.mainPageHeading {
  display: flex;
  justify-content: space-between;
}

.paperContainer {
  margin: 0 2% 20px;
  padding-bottom: 20px;
}

.reactRouterBlueLink {
  text-decoration: none;
  border: 0;
  color: cornflowerblue;
}

.reactRouterBlueLink:hover {
  font-weight: bold;
  opacity: 0.8;
}

@media (max-width: 500px) {
  .appContainer {
    width: 97%;
  }

  .postTypeSelect {
    width: 120px !important;
  }
}
