.postDescription {
  padding: 10px 0;
}

.contactInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.contactInfo a {
  text-decoration: none;
  color: black;
  background-color: #96ceb4;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.contactInfo a:hover {
  cursor: pointer;
  color: white;
}

.addedBy {
  padding-top: 20px;
  text-align: right;
}

.price {
  padding-top: 20px;
  padding-bottom: -10px;
  text-align: right;
  font-weight: bold;
}

.commentsContaner {
  width: 85%;
  margin: 15px 2% 15px auto;
}

.commentIcon {
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}

.commentIcon:hover {
  fill: #96ceb4;
  color: #96ceb4;
}

.addCommentButton {
  text-decoration: none;
  color: black;
  background-color: #96ceb4;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.addCommentButton:hover {
  cursor: pointer;
  color: white;
}

.commentTextField {
  width: 98%;
}

.removePostButton {
  background-color: #ff4f4f;
  color: white;
  padding: 3px 5px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.removePostButton:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .addedBy {
    padding-bottom: 20px;
  }
}
